body {
  text-align: center;
  background-image: linear-gradient(180deg,#6d7fa6, #1e3149 )
}
.foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: none;
  width: 500px;
  height: 400px;
  object-position: 53% 75%;
  border-color: #6d7fa6;
  border-width: 4px;
  border-style: solid;
  border-radius: 25%;
}

h1, h2 {
  color: #6d7fa6;
  padding: 4px 4px;
  background-color: #1e3149;
  text-align: center;
  margin: 10px 14px 0 16px;
  border-radius: 12px;
}
ul {
  list-style: square;
  display: inline-block;
  font-size: 1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ion-icon {
  font-size: large;
  transition: transform 0.5s;
  margin-bottom: 0.9em;
  margin-top: 1em;
}
ion-icon:hover {
  transform: scale(1.5);
}
a {
  color: rgba(0, 255, 255, 0.436);
  transition: color 0.3s;
}
a:hover {
  color: aqua;
}
img {
  width: 200px;
  height: 200px;
  margin-top: 0.5rem;
  border-color: #d2d3c5;
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 50%;
  display: block;
  transition: transform 0.5s;
  margin-right: auto;
  margin-left: auto;
}
img:hover {
  transform: scale(1.1);
}
.one {
  text-align: left;
}
.contain {
  border-style: solid ;
  border-width: 4px;
  border-color: rgba(46, 141, 188, 1);
  border-radius: 8px;
  margin: 10% 10% ;
  background-color: rgba(46, 141, 188, 0.5);
}